input [type="file"] {
    position: absolute;
    left: -9999px;
    opacity: 0;
    justify-content: flex-end;
  }
.imgPost {
  height: 200px !important;
  width: 300px;
  margin: 10px;
  justify-content: center;
}
.imgPost .imageFile {
  height: 200px !important;
  width: 300px;
}
p {
  padding-top: 10px;
}