
.d-flex  {
    
    justify-content:flex-start;
}
.backg {
    background-color: brown;
}

.search {
    border: 1px solid rgb(124, 60, 60);
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    color: blueviolet;
    background-color: rgb(255, 255, 255);
   
}

.search input {
  
    font-weight: bold;
    border: none;
    outline: none;
    width: 320px;
}
.search i {
    color: blueviolet;
    justify-content:flex-end ;
    padding-top: 10px;
    padding-right: 10px;
}
.search .button {
    border: none;
    
}
.search {
    width: 30%;
}
@media screen and (max-width: 1000px) {
    .search {
        width: 45%;
    }
}
@media screen and (max-width: 700px) {
    .search{
        width: 65%;
    }
}
